# Ignore virtual environment
venv/
.venv/

# Ignore system files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore data cache
*.dvc
*.lock
*.csv.dvc
.dvc/
.cache/
*.log

# Ignore environment and IDE settings
.env
*.DS_Store
.idea/
.vscode/

# Ignore models and checkpoints
*.h5
*.pt
*.ckpt
